<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>樱草</key>
	<integer>15400790</integer>
	<key>柳黄</key>
	<integer>13229346</integer>
	<key>蓝</key>
	<integer>4509430</integer>
	<key>靛青</key>
	<integer>1539248</integer>
	<key>宝蓝</key>
	<integer>4938948</integer>
	<key>姜黄</key>
	<integer>16762739</integer>
	<key>葱绿</key>
	<integer>964666</integer>
	<key>碧绿</key>
	<integer>2809244</integer>
	<key>藕黄</key>
	<integer>14993104</integer>
</dict>
</plist>
